<h3>Edit Sub</h3>

<p>
  <form action=<%= sub_url(@sub) %> method="post">
    <%= auth_input %>
    <%= request_input("patch") %>

    <input type="hidden" name="sub[moderator_id]" value="<%= @sub.moderator_id %>">
    <label for="sub_name">Name</label>
    <input type="text" id="sub_name" name="sub[title]" value="<%= @sub.title %>">
    <br>
    <label id="description">Description</label><br>
    <textarea id="description" name="sub[description]"
      rows="8" cols="40"><%= @sub.description %></textarea><br>

    <input type="submit" value="Edit Sub">
  </form>
</p>
